
:root { 
    /*add custom variables here*/
    --pink: rgb(180, 28, 127);
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    /*changes the background color behind everything in the main tag*/
    background-color: rgb(250, 228, 232);
    width: 100%;
    height: 100%;
    /*margin and padding here control the space around the inside of the webpage */
    margin: 0;
    padding: 0;
}

.header { 
    overflow: hidden; 
    /* change the gradient colors of the top header here*/
    background: linear-gradient(90deg, rgba(50,2,33,1) 0%, rgba(121,9,118,1) 40%, rgba(0,212,192,1) 100%);
    padding: 5px;
}

 /*moves the nav bar in the header*/
.header-right {
    float: right;
    padding: 20px;
    
}
  
.header a {
    /*changes the styling of the links in the top nav bar*/
    color: white;
    font-weight: bold;
    padding: 12px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size: 15px; 
    line-height: 25px;
}
  
h1 {
    /*changes position of 'Ivy McCurdy' in the header*/
    display: inline-flex;
    /*everything under this comment changes the styling of 'Ivy McCurdy' in the header*/
    color: white;
    background-color: var(--pink);
    border-radius: 4px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    
}

/*controls the highlight and text color when the cursor hovers over the nav links*/
nav a:hover {
    /*highlight color*/
    background-color: white;
    /*text color*/
    color: black;
  }


/*image that belongs right under the header*/
.hero-image {
    /*change the color of the gradient that overlays the image*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/banner_munster.jpg");
    /*position and size of image under here*/
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

/*positions text on hero image*/
.hero-text {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    color: white;
  }

 /*styles the text on the hero image*/
h2 {
    background-color: rgba(180, 28, 127, 0.644);
    color: white;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}

/*sets color, size, and position of all h3 tags*/
h3 {
    color: var(--pink);
    text-align: center;
    font-size: 2rem;
}

/*adjust size of table*/
table {
    width: 100%;
    padding: 35px;
  }

/*targets the image in about me section*/
#self-portrait {
    float: left;
    margin: 5px;
    border-radius: 4px;
}


/*adjust the size of the box surrounding the 'About Me' text*/
.about-me {
    box-sizing: content-box;
    width: 25%;
}

/*adjust the size of the box surrounding the 'Work' text*/
.work {
    box-sizing: content-box;
    width: 25%;
}

#img-grid {
    /*custom variables for the size and number of columns */
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
    
    box-sizing: border-box;
    padding: var(--gap);
 
    display: grid;
    /*gives you four equal width columns*/
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
 }

/*change the sizing of the images within the grid*/
img {
    width: 310px;
    height: 300px;
}

/*size of the entire container of the overlay*/
.container {
    position: relative;
    width: 100%;
  }

/*position, animation and color of the overlay with text*/
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--pink);
  }

/*adjust the opacity of the overlay here. this also shows the overlay when cursor goes over the images*/  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


/*adjust the size of the box surrounding the 'Contact Me' text*/
.contact-me {
    box-sizing: content-box;
    width: 25%;
}

/*controls the position and color of the links for the Contact Me page*/
.socials a {
    display: inline-flex;
    justify-content: space-evenly;
    color: var(--pink);
    font-weight: bold;
    padding: 12px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size: 15px; 
    line-height: 25px;
}

/*targets the main text inside the table*/
td {
    text-align: left;
    padding: 20px;
    height: 200px;
    width: 350px;
    border-left: 4px dashed var(--pink);
}

/*change the border around the footer tag*/
footer {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    font-weight: bold;
    width: 100%;
    color: var(--pink);
    padding: 30px;
    border-top: 4px dashed var(--pink);
}

/*places a copyright symbol right before all the text in the footer tag*/
footer::before{
    display: inline-flex;
    content: "© ";
}

/*makes the links of the nav bar stack when browser is adjusted to a smaller screen*/
@media screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }

    .container {
     display: block;
      }
    

}