* {
    flex-wrap: wrap;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    overflow: hidden;
    background: rgb(50,2,33);
    background: linear-gradient(90deg, rgba(50,2,33,1) 0%, rgba(121,9,118,1) 40%, rgba(0,212,192,1) 100%);
    padding: 20px 10px;
}
  
.header a {
    float: left;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 12px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size: 15px; 
    line-height: 25px;
    border-radius: 4px;
}
  
.header a.logo {
    color: black;
    background-color: rgba(0,212,192,1);
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
    color: black;
  }
  
.header-right {
    float: right;
}

section {
    display: flex;
    height: 250px;
    border: 1px solid black;
}

footer {
    border: 1px solid black;
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
}